.site-container {
  margin: 0 auto;
  max-width: 1200px;
}
h4 {
  margin-bottom: 5px;
}
h5 {
  margin-top: 0;
}
body {
  font-family: "Open Sans", arial, sans-serif;
}
.details {
  text-align: center;
}
